[Desktop Entry]
Name=Cake Arc
X-KDE-PluginInfo-Author=Cake (originally varlesh@gmail.com)
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=meek.mesh@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Cake-Arc
X-KDE-PluginInfo-Version=1.1
